In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.metrics import recall_score, accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [ ]:
cancer_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/JetBrains/cancer.csv')
cancer_data.head()

  label      1      2       3       4  ...      26      27      28      29       30
0     M  17.99  10.38  122.80  1001.0  ...  0.6656  0.7119  0.2654  0.4601  0.11890
1     M  20.57  17.77  132.90  1326.0  ...  0.1866  0.2416  0.1860  0.2750  0.08902
2     M  19.69  21.25  130.00  1203.0  ...  0.4245  0.4504  0.2430  0.3613  0.08758
3     M  11.42  20.38   77.58   386.1  ...  0.8663  0.6869  0.2575  0.6638  0.17300
4     M  20.29  14.34  135.10  1297.0  ...  0.2050  0.4000  0.1625  0.2364  0.07678

[5 rows x 31 columns]

In [ ]:
cancer_data.label.value_counts()

B    357
M    212
Name: label, dtype: int64

In [ ]:
cancer_data.isnull().sum()

label    0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
30       0
dtype: int64

In [ ]:
cancer_data.duplicated().sum()

0

In [ ]:

X = cancer_data.drop('label', axis=1)
y = cancer_data.loc[:, ['label']]

In [ ]:
for index in y.index:
    y.loc[index, 'label_2'] = (1 if y.loc[index, 'label'] == 'M' else 0)

In [ ]:
X.head()

       1      2       3       4  ...      27      28      29       30
0  17.99  10.38  122.80  1001.0  ...  0.7119  0.2654  0.4601  0.11890
1  20.57  17.77  132.90  1326.0  ...  0.2416  0.1860  0.2750  0.08902
2  19.69  21.25  130.00  1203.0  ...  0.4504  0.2430  0.3613  0.08758
3  11.42  20.38   77.58   386.1  ...  0.6869  0.2575  0.6638  0.17300
4  20.29  14.34  135.10  1297.0  ...  0.4000  0.1625  0.2364  0.07678

[5 rows x 30 columns]

In [ ]:
y = y['label_2']

In [ ]:
X_train, X_control, y_train, y_control = train_test_split(X, y, test_size=0.15)

In [ ]:
y_train.value_counts()

0.0    310
1.0    173
Name: label_2, dtype: int64

In [ ]:
y_control.value_counts()

0.0    47
1.0    39
Name: label_2, dtype: int64

RandomForest

In [ ]:
grid_params = {'n_estimators': range(20, 50, 10),
               'max_depth': range(2, 8, 2),
               'criterion': ['entropy'],
               'min_samples_leaf': range(1, 6, 2),
               'min_samples_split': range(2, 8, 2)}

In [ ]:
t_model = RandomForestClassifier()
GS = GridSearchCV(estimator=t_model, param_grid=grid_params, cv=5)

In [ ]:
GS.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['entropy'], 'max_depth': range(2, 8, 2),
                         'min_samples_leaf': range(1, 6, 2),
                         'min_samples_split': range(2, 8, 2),
                         'n_estimators': range(20, 50, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
GS.best_params_

{'criterion': 'entropy',
 'max_depth': 4,
 'min_samples_leaf': 5,
 'min_samples_split': 6,
 'n_estimators': 30}

In [ ]:
model = RandomForestClassifier(n_estimators=30, criterion='entropy', max_depth=4, min_samples_leaf=5, min_samples_split=6)
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=6,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
accuracy_score(y_control, model.predict(X_control))

0.9418604651162791

In [ ]:
recall_score(y_control, model.predict(X_control))

0.9230769230769231

DecisionTree

In [ ]:
model_t = DecisionTreeClassifier()
grid_params = {'criterion': ['entropy'],
               'max_depth': range(6, 40, 4),
               'min_samples_split': range(2, 12, 2),
               'min_samples_leaf': range(2, 12, 2)}
GS = GridSearchCV(estimator=model_t, param_grid=grid_params, cv=5)
GS.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['entropy'], 'max_depth': range(6, 40, 4),
                         'min_samples_leaf': range(2, 12, 2),
                         'min_samples_split': range(2, 12, 2)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
GS.best_params_

{'criterion': 'entropy',
 'max_depth': 10,
 'min_samples_leaf': 2,
 'min_samples_split': 8}

In [ ]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=30, min_samples_leaf=6, min_samples_split=4)
model.fit(X_train, y_train)
accuracy_score(y_control, model.predict(X_control))

0.9186046511627907

Adaboost

In [ ]:
model_t = AdaBoostClassifier()
grid_params = {'n_estimators': range(20, 100, 10),
               'learning_rate': [0.2, 0.4, 0.6, 0.8, 1]}
GS = GridSearchCV(estimator=model_t, param_grid=grid_params, cv=5)
GS.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=AdaBoostClassifier(algorithm='SAMME.R',
                                          base_estimator=None,
                                          learning_rate=1.0, n_estimators=50,
                                          random_state=None),
             iid='deprecated', n_jobs=None,
             param_grid={'learning_rate': [0.2, 0.4, 0.6, 0.8, 1],
                         'n_estimators': range(20, 100, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
GS.best_params_

{'learning_rate': 0.4, 'n_estimators': 70}

In [ ]:
model = AdaBoostClassifier(learning_rate=0.4, n_estimators=70)
model.fit(X_train, y_train)
accuracy_score(y_control, model.predict(X_control))

0.9418604651162791

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score

In [ ]:
noisysine = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/JetBrains/noisysine.csv')
hydrodynamics = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/JetBrains/hydrodynamics.csv')

In [ ]:
noisysine.head()

   x        y
0  0  0.35552
1  1  0.51179
2  2  1.08470
3  3  0.91980
4  4  1.18920

In [ ]:
hydrodynamics.head()

    x0     x1    x2    x3    x4     x5     y
0 -2.3  0.568  4.78  3.99  3.17  0.125  0.11
1 -2.3  0.568  4.78  3.99  3.17  0.150  0.27
2 -2.3  0.568  4.78  3.99  3.17  0.175  0.47
3 -2.3  0.568  4.78  3.99  3.17  0.200  0.78
4 -2.3  0.568  4.78  3.99  3.17  0.225  1.18

In [ ]:
n_X = noisysine.loc[:, 'x']
n_y = noisysine.loc[:, 'y']
h_X = hydrodynamics.drop(['y'], axis=1)
h_y = hydrodynamics.loc[:, 'y']

In [ ]:
n_poly = PolynomialFeatures(5)
n_X = n_poly.fit_transform(np.array(n_X).reshape(-1, 1))
h_poly = PolynomialFeatures(2)
h_X = h_poly.fit_transform((h_X))
n_X_train, n_X_control, n_y_train, n_y_control = train_test_split(n_X, n_y, test_size=0.3)
h_X_train, h_X_control, h_y_train, h_y_control = train_test_split(h_X, h_y, test_size=0.3)

In [ ]:
model = LinearRegression()
model.fit(n_X_train, n_y_train)
r2_score(n_y_control, model.predict(n_X_control))

0.8069059022361762

In [ ]:
model = LinearRegression()
model.fit(h_X_train, h_y_train)
r2_score(h_y_control, model.predict(h_X_control))

0.6099558483984724

Ridge

In [ ]:
n_X = noisysine.loc[:, 'x']
n_y = noisysine.loc[:, 'y']
h_X = hydrodynamics.drop(['y'], axis=1)
h_y = hydrodynamics.y
n_X_train, n_X_control, n_y_train, n_y_control = train_test_split(np.array(n_X).reshape(-1, 1), n_y, test_size=0.3)
h_X_train, h_X_control, h_y_train, h_y_control = train_test_split(h_X, h_y, test_size=0.3)

In [ ]:
ridge_model = Ridge(0.01)
ridge_model.fit(n_X_train, n_y_train)
r2_score(n_y_control, ridge_model.predict(n_X_control))

0.1486803738507938

In [ ]:
ridge_model = Ridge(0.01)
ridge_model.fit(h_X_train, h_y_train)
r2_score(h_y_control, ridge_model.predict(h_X_control))

0.6485824283874588

Lasso

In [ ]:
lasso_model = Lasso(0.02)
lasso_model.fit(n_X_train, n_y_train)
r2_score(n_y_control, lasso_model.predict(n_X_control))

0.14904360103126402

In [ ]:
lasso_model = Lasso(0.02)
lasso_model.fit(h_X_train, h_y_train)
r2_score(h_y_control, lasso_model.predict(h_X_control))

0.6566789067860679